#appRoot {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
.planning-card {
  position: relative;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-image: url(/public/images/dice.jpg);
  border-left: 3px solid #3B6B90;
}
.planning-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.planning-card-overlay-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.planning-card h3,
.planning-card p,
.planning-card div:not(:first-child),
.planning-card h3 {
  margin: 0;
  z-index: 2;
}
.home-text-block img {
  width: 100%;
}
.plan-container {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.stand-card {
  padding: 0.1em 1em;
}
.planning-card-container {
  display: flex;
  flex-direction: column;
  gap:2em;
}
.plan-card-container{
  display: flex;
  flex-direction: column;
  gap:2em;
}

.nav-desk ul {
  height: 100%;
  width: 300px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 8em 0 0 0;
}
main > div:not(:first-child) {
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 365px){
  .expo-block{
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 720px) {
  .planning-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .plan-card-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
  }
  .plan-card{
    width:100%;
  }
  main > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .home-card {
    width: 50vw;
  }
  .home-text-block button {
    width: initial !important;
    align-self: flex-start;
  }
  .home-text-block {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .drawer-data {
    width: 100%;
    padding-left: 4.5em !important;
  }
}
.main-image{
  width:100%;
}
main{
  overflow-x: hidden;
}
@media screen and (min-width: 1080px) {
  .main-image{
    width:150%;
  }
}
.home-card {
  padding: 0.5em;
}

#navigation-list a {
  width: 100%;
}
.drawer-data {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2em;
  margin-top: 5vh;
  gap: 0.5em;
  height: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

